<div class = 'basic-grey'>
<p id="notice"><%= notice %></p>
<h3><strong>Tipo de Contato</strong></h3>
<hr>
   <table class="table table-bordered ">
  <thead>
    <tr>
      <th>Descrição</th>
      <th class = 'text-center'>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
            <tr style="background: <%= cycle('white', '#f0f0f5') %>">
        <td><%= kind.description %></td>
        <td class = 'text-center'><%= link_to 'Editar', edit_kind_path(kind) %>
       <%= link_to 'Apagar', kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

            <%= link_to t('buttons.home'),root_path, class: "btn btn-success" %>
      <%= link_to t('buttons.new'), new_kind_path, class: "btn btn-primary" %>