<div class="basic-grey">
      <h3>
        <strong>Contatos Cadastrados</strong>
      </h3>
<hr>

  <% if notice %>
    <p class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
      <button class="close" type="button" data-dismiss="alert">×</button>
      <%= notice %>
    </p>
    <% end %>
      <% if alert %>
        <p class="alert alert-danger alert-styled-left alert-arrow-left alert-bordered">
          <button class="close" type="button" data-dismiss="alert">×</button>
          <%= alert %>
        </p>
        <% end %>

          <table class="table table-bordered ">
            <thead>
              <tr>
                <th>
                  <%= @contacts.model.human_attribute_name("id") %>
                </th>
                <th>
                  <%= @contacts.model.human_attribute_name("name") %>
                </th>
                <th>
                  <%= @contacts.model.human_attribute_name("kind") %>
                </th>
                <th class="text-center">Ação</th>
              </tr>
            </thead>
            <tbody>
              <% @contacts.each do |contact| %>
                <tr style="background: <%= cycle('white', '#f0f0f5') %>">
                  <td>
                    <%=contact.id%>
                  </td>
                  <td>
                    <%= contact.name %>
                  </td>
                  <td>
                    <%= contact.kind.description %>
                  </td>
                  <td class="text-center">
                    <%= link_to t('buttons.edit'), edit_contact_path(contact) %>
                      <%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('messages.confirm') } %>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
          <%= paginate @contacts %>
            <br>
            <div class="pull-ringh">
              <%= page_entries_info @contacts %>
            </div>
            <%= link_to t('buttons.home'),root_path, class: "btn btn-success" %>
      <%= link_to t('buttons.new'), new_contact_path, class: "btn btn-primary" %>
</div>
