<p id="notice"><%= notice %></p>

<div class= "basic-grey">
<h4>Visualizar</h4>
<hr>
<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Tipo de Contato:</strong>
  <%= @contact.kind.description %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @contact.rmk %>
</p>

<%= link_to 'Fechar', contacts_path %>
</div>